*,
*:focus,
*:active {
  outline: none !important;
}

* {
  font-family: "Inter", sans-serif;
}

/* - topics */

.topics {
  @apply rounded-lg cursor-move flex my-2;

  a {
    @apply rounded-lg cursor-pointer bg-light-500 mx-2 w-max py-2 px-4 transition-all duration-150 capitalize inline-block dark:bg-dark-200 hover:bg-light-700 dark:hover:bg-dark-100;
  }
}

/*  - image card */
.img-card-main {
  @apply rounded-xl w-full p-1 sm:w-1/2 md:w-1/3 hover:bg-light-900 hover:shadow-lg hover:shadow-dark-900 dark:hover:bg-dark-200 dark:hover:shadow-light-900;

  .wrapper {
    @apply rounded-xl w-full p-0 relative overflow-hidden hover:before:(content pointer-events-none z-5 absolute inset-0 h-full w-full opacity-50 bg-gradient-to-b from-dark-900 via-transparent to-dark-900 transition-all duration-500);

    .image-link {
      @apply rounded-xl p-0.5 block overflow-hidden;

      figure {
        @apply rounded-lg flex relative overflow-hidden;
        padding: 0;
        margin: 0;
      }
    }

    .offcanvas-link-wrapper {
      @apply h-full w-full inset-0 z-10 absolute pointer-events-none;

      p {
        @apply !w-auto;
      }

      .dropdown {
        @apply top-3 right-3 pointer-events-auto absolute;

        button {
          @apply cursor-pointer flex bg-light-500 rounded-1 p-2 overflow-hidden items-center justify-center dark:bg-dark-200 hover:bg-light-600 dark:hover:bg-dark-100;
        }

        div {
          @apply rounded-lg flex flex-col bg-light-100 top-full mt-1 w-max p-2 right-0 items-center absolute dark:bg-dark-200;

          a {
            @apply rounded-md flex my-0.5 w-full py-1 px-1.5 items-center justify-between hover:bg-light-800 dark:hover:bg-dark-400;
          }
        }
      }
    }
  }
}

/* - navbar */
.navbar {
  @apply flex shadow-lg shadow-md w-full py-4 px-4 shadow-true-gray-400 items-center justify-between sm:px-14 dark:shadow-true-gray-600;

  h1 {
    @apply font-bold text-xl;
  }

  .btn {
    @apply cursor-pointer flex bg-light-500 rounded-1 p-2 overflow-hidden items-center justify-center dark:bg-dark-200 hover:bg-light-600 dark:hover:bg-dark-100;
  }
}

/* - form */
.form {
  @apply border border-transparent rounded-lg flex bg-light-500 w-full w-6/12 sm:w-2/3 md:w-1/2 dark:bg-dark-200 hover:bg-light-600 dark:hover:bg-dark-200 dark:focus:border-dark-50;

  input {
    @apply border border-transparent rounded-lg h-full w-full py-2 px-4 focus:border-light-600 dark:focus:border-dark-50;
  }

  button {
    @apply rounded-lg p-2 dark:hover:bg-dark-200;
  }
}

/* - home page */
.home {
  @apply flex flex-col min-h-screen-sm w-full items-start overflow-x-hidden;
}

.random-img {
  @apply flex h-lg w-full relative justify-center items-center before:(content absolute inset-0 h-full w-full bg-dark-900 bg-opacity-50 dark:bg-opacity-60 z-1);

  canvas {
    @apply h-full w-full inset-0 absolute;
  }

  .form-wrapper {
    @apply w-full w-10/12 z-10 sm:w-2/3 md:w-1/2;

    h1 {
      @apply font-bold text-light-50 text-5xl;
    }

    p {
      @apply mt-1 mb-4 text-light-500;

      a {
        @apply border-b font-medium border-light-500 hover:border-transparent;
      }
    }

    .form {
      @apply !w-full;
    }
  }
}

/* - search page */

.search {
  @apply flex flex-col min-h-screen-sm w-full items-start overflow-x-hidden;

  .heading {
    @apply mt-8 mb-6 px-8;

    p {
      @apply font-medium text-xl;
    }

    h1 {
      @apply font-bold text-5xl capitalize;
    }
  }
}

/* - category page */
.category {
  @apply flex flex-col min-h-screen-sm w-full items-start overflow-x-hidden;

  .category-info {
    @apply w-full w-10/12 z-10 sm:w-2/3 md:w-1/2;

    h1 {
      @apply font-bold text-light-50 text-5xl;
    }

    p {
      @apply mt-1 mb-4 text-light-500;

      a {
        @apply border-b font-medium border-light-500 hover:border-transparent;
      }
    }
  }
}

/* - infinite scroll */
.infinite-scroll-wrapper {
  @apply w-full px-0.5;

  .loading-msg {
    @apply flex font-medium my-2 text-center w-full text-2xl items-center justify-center;

    span {
      @apply ml-2;
    }
  }

  .end-msg {
    @apply font-medium text-center mb-4 text-2xl;
  }

  .infinite-scroll {
    @apply w-full;
  }

  .masonry {
    @apply w-full overflow-hidden;
  }
}
/*  - image */
.image-page {
  @apply flex flex-col min-h-screen-sm w-full items-start overflow-x-hidden;

  .image {
    @apply flex w-full py-8 items-center justify-center relative;

    figure {
      @apply rounded-lg flex m-0 w-max relative overflow-hidden;

      img {
        max-height: 70vh !important;
        width: auto !important;
        @apply h-full w-full;
      }
    }
  }

  .heading {
    @apply font-semibold mx-12 mb-4 text-2xl;
  }
}

/* - credits */
.credits {
  @apply rounded-lg bg-opacity-50 bg-light-50 my-3 text-sm w-max py-1 px-2 inset-x-3 bottom-0 text-dark-800 z-10 backdrop-filter backdrop-blur-md absolute dark:bg-opacity-30 dark:bg-dark-900 dark:text-true-gray-50;

  a {
    @apply border-b font-medium border-dark-900 text-dark-900 dark:border-light-500 dark:text-light-500 hover:border-transparent;
  }
}

/* - masonry layout */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.error {
  @apply flex flex-col font-bold h-90vh w-full text-2xl items-center justify-center;

  h1 {
    @apply my-0.5;
  }
}
